
#LandingPage .container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.nav-tabs .btn-danger {
  background-color: transparent;
  width: 160px;
  color: black;
  height: 38px;
}
.nav-tabs .btn-danger:hover {
  background-color: #ff3e6c;
  border: none;
  color: white;
}

.nav-tabs .btn-danger.active {
  background-color: #ff3e6c;
  border: none;
  color: white;
}

.nav-tabs {
  border-bottom: none !important;
}

.carscard {
  margin-bottom: 30px;
  overflow: hidden;
  min-height: 390px;
  border: none;
  box-shadow: 1px 2px 5px 0px #aaaaaa;
  color: black;
}

.details {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  transition: all ease-in-out 0.2s;
}

.carscard:hover .details {
  opacity: 1;
  bottom: 0;
  z-index: 999;
  color: white;
}
.wishlist {
  border: 1px solid #d4d5d9;
  cursor: pointer;
}
.wishlist:hover {
  border: 1px solid black;
}

.swal-text {
  font-weight: 500;
  font-size: 20px;
  color: rgb(99, 99, 99);
}